.minesweeper {
  background-color: rgb(162, 162, 162);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.option-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.new-game-button {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: none;
  position: relative; /* becomes the reference for any absolute children */
  cursor: pointer;
}

.game-board {
  border: 2px solid gray;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cell-column {
  display: flex;
  flex-direction: column;
  flex: 1; /* each column takes equal space */
}

.cell {
  width: 100%;
  aspect-ratio: 1;
  height: auto;
  padding: 0;
  border: 1px solid gray;
  box-sizing: border-box;
  position: relative; /* becomes the reference for any absolute children */
  background-color: #bababa;
  color: black;
  cursor: pointer;
}

.cell-inner {
  width: 100%;
  height: 100%;
}

.cell-background {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops rather than stretches the image */
}

.cell-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cell_won {
  background-color: gold;
}

.cell_won.cell_0 {
  background-color: goldenrod;
}

.cell_lost {
  background-color: rgb(182, 0, 0);
}
