.navbar-outer {
    width: 100%;
    background-color: rgb(25, 27, 54);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.navbar-inner {
    max-width: var(--max-width);
    padding: 0.5rem var(--side-padding); /* rem changes depending on the font size of device. default is 16px. top/bottom left/right */
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.white-image {
    filter: brightness(0) invert(1); /* turns image white */
}

.navbar-logo {
    height: 100%;
    padding-right: 0.5rem;
}

.navbar-logo img {
    width: auto;
    height: 100%;
}

.navbar-logo img.white-image:hover {
    filter: brightness(0) invert(0.8);
}

.navbar-links {
    display: flex;
}

.navbar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.navbar-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-button img {
    height: calc(var(--navbar-height) * 0.35);
    width: auto;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(200, 200, 200);
    padding: 0.5rem 0.5rem;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-link.active {
    color: rgb(255, 255, 255);
    font-weight: bold;
}