.window {
    max-width: 100%;
    max-height: 70vh;
    overflow: auto;
}

.title-bar {
    background-color: rgb(25, 25, 25);
    color: white;
    display: flex;
    padding: 5px;
    font-weight: bold;
}